<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.sophia.admin.biz.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.scaffolding.sophia.admin.api.entity.bo.Dict">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="VALUE" jdbcType="INTEGER" property="value" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>

  <resultMap id="BaseResultMapVo" type="com.scaffolding.sophia.admin.api.entity.vo.DictVo">
    <id column="ID" jdbcType="VARCHAR" property="id"/>
    <result column="NAME" jdbcType="VARCHAR" property="name"/>
    <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    <result column="details" jdbcType="VARCHAR" property="details"/>
    <result column="VALUE" jdbcType="INTEGER" property="value"/>
  </resultMap>

  <sql id="Base_Column_List">
    ID, VALUE, PID, NAME, TYPE, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
  </sql>

  <select id="selectDictList" parameterType="map" resultMap="BaseResultMapVo">
    SELECT ID , `NAME`,TYPE,(SELECT GROUP_CONCAT( CONCAT(VALUE,':',`NAME`) ) FROM sys_dict rd WHERE rd.PID = d.ID  AND rd.`STATUS` = 1)
    AS details
    FROM sys_dict d
    WHERE
    TYPE IS NOT NULL AND `STATUS` = 1
    <if test="param.name != null   and  param.name != ''">
      AND d.`NAME` LIKE concat('%',#{param.name},'%')
    </if>
    <if test="param.type != null   and  param.type != ''">
      AND d.`TYPE` LIKE concat('%',#{param.type},'%')
    </if>
    GROUP BY TYPE
    ORDER BY d.CREATE_TIME DESC
  </select>

  <select id="selectDictListByType" parameterType="java.lang.String" resultMap="BaseResultMapVo">
        SELECT  `VALUE` , `NAME`
        FROM sys_dict d
        WHERE
        `STATUS` = 1
        AND PID = (
            SELECT ID
            FROM sys_dict d
            WHERE TYPE = #{type} AND `STATUS` = 1
            )
        ORDER BY VALUE
    </select>


  <select id="selectByPid" parameterType="java.lang.String" resultMap="BaseResultMapVo">
        select
        ID, VALUE , NAME
        from sys_dict
        where `STATUS` = 1 AND  PID = #{id,jdbcType=VARCHAR}
        order by VALUE
    </select>

  <update id="updateByIdOrPid" parameterType="string">
        update sys_dict
        set STATUS = 0
        where ID = #{id,jdbcType=VARCHAR} or PID = #{id,jdbcType=VARCHAR}
    </update>

  <update id="updateBatchByIds" parameterType="java.util.List">
    update sys_dict
    set STATUS = 0
    where ID in
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
    or
    PID in
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>

  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO sys_dict(ID, VALUE, PID, NAME, TYPE, STATUS, CREATE_TIME, CREATE_USER)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.value},#{item.pid},#{item.name},#{item.type},#{item.status},#{item.createTime},#{item.createUser})
    </foreach>
  </insert>

</mapper>