<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.sophia.admin.biz.mapper.MembershipMapper">
  <resultMap id="BaseResultMap" type="com.scaffolding.sophia.admin.api.entity.bo.Membership">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="IMG_PATH" jdbcType="VARCHAR" property="imgPath" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, APP_ID, IMG_PATH, IS_DELETED, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, 
    UPDATE_USER
  </sql>

</mapper>