<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.sophia.admin.biz.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.scaffolding.sophia.admin.api.entity.bo.Role">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="ROLE_TYPE" jdbcType="INTEGER" property="roleType"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.scaffolding.sophia.admin.api.entity.vo.RoleVo">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="ROLE_TYPE" jdbcType="INTEGER" property="roleType"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID, ROLE_NAME, ROLE_CODE, DESCRIPTION, ROLE_TYPE, STATUS, CREATE_TIME, CREATE_USER,
    UPDATE_TIME, UPDATE_USER
  </sql>

    <select id="getRoleByUserId" parameterType="string" resultMap="BaseResultMap">
        SELECT su.ID, ROLE_NAME, ROLE_CODE, DESCRIPTION, ROLE_TYPE
        FROM sys_role su
        LEFT JOIN sys_user_role sr ON sr.role_id = su.id
        WHERE sr.user_id = #{userId}
    </select>


    <select id="selectRoleList" resultMap="BaseResultMapVo">
      select
      ID, ROLE_NAME, ROLE_CODE, DESCRIPTION, ROLE_TYPE
      from sys_role
      where status = 1
      order by  CREATE_TIME DESC
    </select>

    <select id="selectRole" resultMap="BaseResultMapVo">
        select
        ID, ROLE_NAME, ROLE_CODE, DESCRIPTION
        from sys_role
        where status = 1 and ROLE_TYPE = 1 and ROLE_CODE != 'SUPER_ADMIN'
        <if test="roleCode != null and roleCode != ''">
            and ROLE_CODE != #{roleCode}
        </if>
        order by CREATE_TIME DESC
    </select>

    <update id="updateBatchByIds" parameterType="java.util.List">
        update sys_role
        set STATUS = 0
        where ID in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
</mapper>
