<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.sophia.admin.biz.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.scaffolding.sophia.admin.api.entity.bo.User">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="USERNAME" jdbcType="VARCHAR" property="username" />
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
        <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
        <result column="AGE" jdbcType="INTEGER" property="age" />
        <result column="SEX" jdbcType="INTEGER" property="sex" />
        <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
        <result column="PHONE" jdbcType="VARCHAR" property="phone" />
        <result column="EMAIL" jdbcType="VARCHAR" property="email" />
        <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
        <result column="CITY" jdbcType="VARCHAR" property="city" />
        <result column="AREA" jdbcType="VARCHAR" property="area" />
        <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
        <result column="USER_TYPE" jdbcType="INTEGER" property="userType" />
        <result column="HEAD_IMAGE" jdbcType="VARCHAR" property="headImage" />
        <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
        <result column="COMP_ID" jdbcType="VARCHAR" property="compId" />
        <result column="LAST_LOGIN_IP" jdbcType="VARCHAR" property="lastLoginIp" />
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    </resultMap>

    <resultMap id="BaseResultMapVO" type="com.scaffolding.sophia.admin.api.entity.vo.UserVo">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"/>
        <result column="SEX" jdbcType="INTEGER" property="sex"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="PROVINCE" jdbcType="VARCHAR" property="province"/>
        <result column="CITY" jdbcType="VARCHAR" property="city"/>
        <result column="AREA" jdbcType="VARCHAR" property="area"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="HEAD_IMAGE" jdbcType="VARCHAR" property="headImage"/>
        <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
        <result column="COMP_ID" jdbcType="VARCHAR" property="compId" />
        <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="LAST_LOGIN_IP" jdbcType="VARCHAR" property="lastLoginIp" />
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    </resultMap>


    <sql id="Base_Column_List">
    ID, USERNAME, NICKNAME, PASSWORD, AGE, SEX, BIRTHDAY, PHONE, EMAIL, PROVINCE, CITY,
    AREA, ADDRESS, USER_TYPE, HEAD_IMAGE, DEPT_ID, COMP_ID, LAST_LOGIN_IP, LAST_LOGIN_TIME,
    IS_DELETED, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
  </sql>

    <select id="findUserList" resultMap="BaseResultMapVO">
        SELECT
        su.ID, su.USERNAME, su.NICKNAME, su.AGE, su.SEX, su.BIRTHDAY, su.PHONE, su.PROVINCE, su.CITY,
        su.AREA, su.ADDRESS, su.EMAIL, su.LAST_LOGIN_IP, su.LAST_LOGIN_TIME, su.HEAD_IMAGE,
        su.DEPT_ID, su.COMP_ID
        ,sr.role_name as roleName,dt.FULL_NAME deptName,dt1.FULL_NAME compName
        FROM
        sys_user su
        INNER JOIN sys_user_role ur ON su.id = ur.user_id
        INNER JOIN sys_role sr ON sr.id = ur.role_id
        LEFT JOIN sys_dept dt on su.dept_id = dt.id
        LEFT JOIN sys_dept dt1 on su.COMP_ID = dt1.id
        <where>
            su.is_deleted = 1  and  su.STATUS = 1  AND sr.role_code != #{param.roleCode} AND sr.role_code != 'SUPER_ADMIN'
            <if test="param.username != null and param.username != ''">
                AND su.username like concat('%', #{param.username},'%')
            </if>
             <if test="param.roleId != null and param.roleId != ''">
                AND sr.id = #{param.roleId}
            </if>
            <if test="param.startTime != null">
                AND su.BIRTHDAY &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                AND su.BIRTHDAY &lt;= #{param.endTime}
            </if>
            <if test="param.deptPid != null">
                AND dt.pids like concat('%[',#{param.deptPid},']%')
            </if>
            <if test="param.userId != null">
                AND su.id != #{param.userId}
            </if>
        </where>
        ORDER BY su.create_time DESC
    </select>

    <select id="findByUserName" parameterType="string" resultMap="BaseResultMap">
        select
        ID, USERNAME, NICKNAME, PASSWORD, AGE, SEX, BIRTHDAY, PHONE, PROVINCE, CITY, AREA, ADDRESS, EMAIL,
        LAST_LOGIN_IP, LAST_LOGIN_TIME, STATUS, HEAD_IMAGE, DEPT_ID, COMP_ID
        from sys_user su
        <where>
            su.is_deleted = 1  and  su.STATUS = 1
            <if test="username != null and username != '' ">
                and username = #{username} or PHONE = #{username} or EMAIL = #{username}
            </if>
        </where>
    </select>

    <select id="findByUserId" parameterType="string" resultMap="BaseResultMap">
        select
        ID, USERNAME, NICKNAME, PASSWORD, AGE, SEX, BIRTHDAY, PHONE, PROVINCE, CITY, AREA, ADDRESS, EMAIL, LAST_LOGIN_IP, LAST_LOGIN_TIME, IS_DELETED, STATUS, HEAD_IMAGE, DEPT_ID, COMP_ID
        from sys_user
        WHERE id = #{userId}
    </select>

    <select id="findUserVoList" parameterType="com.scaffolding.sophia.admin.api.entity.vo.UserVo"
            resultMap="BaseResultMapVO">
        select
        ID, USERNAME, NICKNAME, PASSWORD, AGE, SEX, BIRTHDAY, PHONE, PROVINCE, CITY, AREA, ADDRESS, EMAIL,
        LAST_LOGIN_IP, LAST_LOGIN_TIME, IS_DELETED, STATUS, HEAD_IMAGE, DEPT_ID, COMP_ID
        from sys_user
        <where>
            su.is_deleted = 1  and  su.STATUS = 1
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
        </where>
    </select>

</mapper>
