<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.sophia.admin.biz.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.scaffolding.sophia.admin.api.entity.bo.UserRole">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, ROLE_ID, USER_ID
  </sql>

  <delete id="deleteBatchByUserIds" parameterType="java.util.List">
    delete from sys_user_role where USER_ID in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>


  <delete id="deleteBatchByRoleIds" parameterType="java.util.List">
    delete from sys_user_role where ROLE_ID in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

</mapper>