<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffolding.sophia.admin.biz.mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.scaffolding.sophia.admin.api.entity.bo.RolePermission">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="PERM_ID" jdbcType="VARCHAR" property="permId" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, ROLE_ID, PERM_ID
  </sql>


  <select id="selectBatchPerIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_role_permission
    WHERE PERM_ID in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteBatchByRoleIds" parameterType="java.util.List">
    delete from sys_role_permission where ROLE_ID in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <select id="selectByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_role_permission
    where ROLE_ID = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO sys_role_permission(ID,PERM_ID,ROLE_ID)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.permId},#{item.roleId})
    </foreach>
  </insert>

</mapper>